/* Universal Styles */

html {
  font-size: 16px;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  padding: .5rem;
  text-align: left;
}

/* hHader */

header {
  display: flex;
  background-color: #fff;
  height: 4rem;
  width: 100%;
  margin: auto;
  position: fixed;
  border-bottom: 2px solid #cc0033;
}

header .container {
  display: flex;
  max-width: 100%;
  margin: auto;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.name {
  display: flex;
  align-items: center;
}

#name1 {
  font-weight: 700;
  color: #000;
}

#name2 {
  color: #cc0033;
  font-weight: 500;
}

#name1, #name2 {
  text-transform: uppercase;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: auto;
}

nav li {
  display: inline-flex;
  margin: 0rem 1rem;
  padding-right: 1.5rem;
}

nav li:hover {
  color: #cc0033;
}

/* Media Query - Header */


@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  header .mobile {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  header .mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px), (max-width: 768px) {
  header {
    border-bottom: 2px solid #cc0033;
  }

  header .mobile ul {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .logo {
    padding: 0rem 1.5rem;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  .name {
    display: none;
  }

  header h1 {
    display: none;
  }

  header .nav-content {
    display: none;
  }
}


/* Banner */

.container {
  background-color: #669999;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner img {
  margin: 2rem;
  padding-top: 4rem;
  width: 60%;
}

.headline-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 40%;
  margin: auto;
  padding-right: 1rem;
}

.headline {
  margin: 1rem;
}

.headline h1 {
  text-align: left;
  font-weight: 700;
  font-size: 2rem;
}

.headline h2 {
  text-align: left;
  font-size: 1.5rem;
  padding: 1rem 0rem;
}

.headline p {
  background-color: #000;
  width: 100%;
  text-align: center;
  padding: 0.75rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
}

.headline p:hover {
  background-color: #cc0033;
  border: 2px solid #000;
}

/* Media Query - Banner */


@media only screen and (max-width: 480px), (max-width: 768px) {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
  }

  .banner img {
    width: 100%;
    margin: auto;
  }

  .headline-container {
    align-items: center;
  }

  .headline-container p {
    margin-bottom: 2rem;
    background-color: #000;
  }

  .headline-container p:hover {
    background-color: #cc0033;
    border: 2px solid #000;
  }
}

/* Information content */

.main.container {
  padding: 2rem 0rem;
  background-color: #fff;
}

.main-info {
  max-width: 60%;
  margin: auto;
  padding: 0rem 1.5rem;
}

.main-info img {
  width: 100%;
  margin: auto;
}

.main-info h1 {
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.main-info p {
  padding-top: 1.5rem;
  font-weight: 300;
  width: 100%;
  margin: auto;
}

/* Information - Right */

.main.container {
  max-width: 100%;
  margin: auto;
  display: flex;
}

.info-container {
  width: 40%;
}

.info-content {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.desktop {
  width: 35%;
}

.desktop img {
  height: auto;
  width: 100%;
  margin: auto;
}

.info-text {
  width: 65%;
  margin: auto;
  padding: 1rem;
}

.info-text h2 {
  font-weight: 500;
  font-size: 1.25rem;
  width: 100%;
  margin: auto;
}

.info-text p, a {
  width: 100%;
  margin: auto;
  padding: 0.5rem 0rem;
}

.info-content:hover {
  background-color: #669999;
}

.info-text a:hover {
  color: #cc0033;
  text-transform: uppercase;
}


/* Media Query - Information */


@media only screen and (max-width: 480px), (max-width: 780px) {
  .main-info {
    display: none;
  }

  .desktop {
    display: none;
  }

  .info-container {
    width: 100%;
  }

  .info-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .mobile img {
    width: 100%;
    margin: auto;
  }

  .info-text h2 {
    padding-bottom: .5rem;
    text-align: left;
  }

  .info-text p, a {
    padding-bottom: .5rem;
    text-align: left;
  }
}

@media only screen and (min-width: 768px), (max-width: 1024px) and (orientation: landscape) {
  .info-content .mobile img {
    display: none;
  }
}

/* Course Selections */

main {
  background-color: #669999;
  width: 100%;
  padding: 2rem 0rem;
}

.course-container {
  display: flex;
  flex-direction: column;
}

.course-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 3.5rem;
  max-width: 100%;
}

main h1 {
  padding-top: 2rem;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}

.courses {
  max-width: 28%;
  background-color: #fff;
  margin: 1rem 1rem;
  padding: .5rem;
}

.courses img {
  width: 100%;
  margin: auto;
}

.courses h2 {
  font-weight: 500;
  background-color: #fff;
  width: 100%;
  margin: auto;
  padding-top: .5rem;
}

.courses .title {
  text-transform: uppercase;
  width: 100%;
  margin: auto;
  font-weight: 300;
}

.courses p {
  padding-top: 0.76rem;
  background-color: white;
  width: 100%;
  margin: auto;
  font-weight: 300;
}

.courses:hover {
  background-color: #cc0033;
}

/* media queries for course content */

@media only screen and (min-width: 768px), (max-width: 1024px) and (orientation: landscape) {
  .course-tabs {
    display: none;
  }
}

@media only screen and (max-width: 480px), (max-width: 768px) {
  main {
    max-width: 100%;
    margin: auto;
    background-color: #fff;
  }

  .course-content {
    display: none;
  }

  .course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }

   .course-tabs {
    background-color: #fff;
    width: 90%;
    margin: 1rem 0rem;
  }

  .course-tabs h3 {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    background-color: #669999;
  }

  .course-tabs h3:hover {
    background-color: #cc0033;
  }
}

/* Thesis section */

.thesis.container {
  background-color: #fff;
  max-width: 100%;
  margin: auto;
}

.thesis-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0rem;
}

.thesis-header h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.thesis-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  max-width: 100%;
  margin: auto;
  padding-bottom: 2rem;
}

.banner-info {
  max-width: 60%;
  margin: auto;
  padding: 0rem 1.5rem;
}

.banner-info video {
  width: 100%;
  margin: auto;
}

.banner-info h2 {
  font-size: 1.25rem;
  padding: 0.75rem 0rem;
  font-weight: 500;
}

/* thesis info to right */

.exhibit-container {
  width: 40%;
}

.exhibit-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 1rem;
  background-color: #669999;
}

.exhibit-content img {
  height: auto;
  width: 35%;
  margin: auto;
}

.exhibit-info {
  width: 65%;
  margin: auto;
}

.exhibit-content h2 {
  padding: .5rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.exhibit-content p {
  padding: 0rem .5rem;
  text-align: left;
  width: 100%;
}

.exhibit-content:hover {
  background-color: #cc0033;
}


/* media queries for thesis content */

@media only screen and (max-width: 480px), (max-width: 780px) {
  .exhibit-container {
    display: none;
  }

  .banner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    max-width: 100%;
    padding: 0rem;
  }

  .banner-info video {
    width: 100%;
  }

  .banner-info h2 {
    display: none;
  }

  .banner-info p {
    display: none;
  }
}

/* Footer */

footer .container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #cc0033;
  padding: 1rem;
  margin: 1rem;
}

.copyright p {
  padding-left: 1rem;
  padding-top: .5rem;
  text-align: left;
}

.nav-content li {
  display: inline-block;
  flex-wrap: wrap;
}

.nav-content a:hover {
  color: #cc0033;
}

/* media queries for footer */

@media only screen and (max-width: 480px), (max-width: 780px) {
  .nav-content {
    display: none;
  }

  footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: auto;
  }

  .copyright {
    width: 100%;
    margin: auto;
  }

  .copyright p {
    padding: 1rem 0rem;
    text-align: center;
  }
}
